<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>User Inventory</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          
              <li class="nav-item">
                <a class="nav-link" href="#">Search</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Leave site</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>

    <ul>
        {% for item in inventory %}
        <li>{{ item }}</li>
        {% endfor %}
    </ul>


    {% if 'banana' in inventory %}
        <p>You have a banana.</p>
    {% else %}
        <p>You do not have a banana.</p>
    {% endif %}
</body>